.react-calendar {
  width: 100%;
  max-width: 100%;
  background-color: #fff;
  color: #222;
  border-radius: 10px;
  border: 1px solid #eeeeee;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 1.125em;
}
.react-calendar__navigation {
  background: rgb(236, 236, 236);
}
.react-calendar__navigation button {
  color: black;
  min-width: 44px;
  background: none;
  font-size: 16px;
  font-weight: 600;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background: rgb(236, 236, 236);
}
.react-calendar__navigation button[disabled] {
  background: rgb(236, 236, 236);
}
abbr[title] {
  text-decoration: none;
}

.react-calendar__navigation__arrow.react-calendar__navigation__prev2-button,
.react-calendar__navigation__arrow.react-calendar__navigation__next2-button {
  display: none;
}
/* .react-calendar__month-view__days__day--weekend {
  color: #d10000;
 } */
.react-calendar__tile {
  font-size: 14px;
  aspect-ratio: 1 / 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.react-calendar__tile abbr {
  z-index: 1;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #fdfdfd;
  border-radius: 100%;
}
.react-calendar__tile--now {
  border-radius: 100%;
  font-weight: bold;
}
.react-calendar__tile--now:enabled:focus {
  border-radius: 100%;
  font-weight: bold;
  color: var(--primary-main);
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
}
.react-calendar__tile--active {
  border-radius: 100%;
  font-weight: bold;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
}

.react-calendar--selectRange .react-calendar__tile--hover {
}
.react-calendar__tile--range {
  color: var(--primary-main);
}
.react-calendar__tile--rangeStart {
  border-radius: 100%;
}
.react-calendar__tile--rangeEnd {
  border-radius: 100%;
}
