.slide-enter {
  opacity: 0;
  transform: translateX(100);
  z-index: 1;
}
.slide-enter.slide-enter-active {
  opacity: 1;
  transform: translateX(0);

  transition: opacity 200ms ease-out, transform 250ms ease;
}
.slide-exit {
  opacity: 1;
  transform: translateX(0);
}
.slide-exit.slide-exit-active {
  opacity: 0.2;
  transform: translate(0, -100);

  transition: opacity 200ms ease-out, transform 250ms ease;
}
